.container {
  position: absolute;
  top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.detail {
  width: 100%;
  background-color: rgb(246, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}
