.sidebar {
  position: absolute;
  width: 300px;
  height: 100vh;
  background-color: #272727;
  padding: 20px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
  position: fixed;
}

.link {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 106, 0);
  border-radius: 5px;
  width: 290px;
  font-size: 30px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross-btn {
  text-decoration: none;
  font-size: 40px;
}
