.inner_div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41, 45, 53);
  border: 2px solid white;
  border-radius: 12px;
  padding: 16px;
  margin: 12px 0;
  color: white;
  gap: 20px;
}

.card_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.card_left h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.card_left input {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
}

.card_right img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

.button {
  border: none;
  font-size: 40px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: rgb(137, 223, 0);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultContainer {
  background-color: #111827;
  color: #f1f5f9;
  padding: 16px;
  margin-top: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-family: "Arial", sans-serif;
}

.copyButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.copyButton {
  background-color: #22c55e;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copyButton:hover {
  background-color: #16a34a;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.ul h2 {
  font-size: 16px;
  margin: 8px 0;
  padding: 10px;
  background-color: rgb(37, 45, 58);
  /* background-color: #1f2937; */
  border-radius: 8px;
  text-align: left;
}
