:root {
  --primary: #17cfb0;
  --bg-light: #f6f8f8;
  --text-dark: #111817;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* App feel: no text selection */
  touch-action: manipulation; /* No double tap zoom */
}

html,
body,
#root {
  width: 100%;
  height: 100dvh; /* iPhone SE fixed height */
  max-height: 100dvh;
  overflow: hidden; /* No scroll allowed at all */
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light);
}

/* Screen wrapper to center on bigger phones */
.app-container {
  width: 100%;
  height: 100%;
  max-width: 430px; /* Max width for large phones */
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
