.loaderContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f8f8;
}

.logoWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(23, 207, 176, 0.1);
  border-top: 3px solid #17cfb0;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.logo {
  width: 50px;
  height: 50px;
}

.text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #111817;
  opacity: 0.6;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
